body {
	width:100%;
}

img {
	width: 100%;
}

.img-name {
	font-size: 1.3em;
	margin-top: 15px;
	padding-top: 7px;
	border-top: 1px solid #000000;
}

.result-img-container {
	width: 75%;
	margin: auto;
}